/* Homepage */

body {
    background-color: #F0F8FF;
    color: #2a607c;
}

#navigation {
    text-align:center;
    border: solid #2a607c 3px;
}

a {
    color: #DAA520;
}

s

footer {
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}